METAAPI_TOKEN=seu_token_aqui
METAAPI_ACCOUNT_ID=seu_account_id_aqui
BENZINGA_API_KEY=sua_key_aqui
BENZINGA_USERNAME=seu_username_aqui
BINANCE_API_KEY=sua_api_key_aqui
BINANCE_SECRET_KEY=sua_secret_key_aqui
